@import "~reset-css";
@import "form.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html, body {
  background: #0F2027;
  background: -webkit-linear-gradient(to top, #0F2027, #203A43, #2C5364);
  background: linear-gradient(to top, #0F2027, #203A43, #2C5364);
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
}

.app {
  width: 60vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
