@import "~reset-css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import "form.scss", "listing.scss";

html, body {
  background: #0F2027;
  background: -webkit-linear-gradient(to top, #0F2027, #203A43, #2C5364) fixed;
  background: linear-gradient(to top, #0F2027, #203A43, #2C5364) fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#root {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.app {
  width: 60vw;
  height: 80vh;
  display: flex;
  flex-direction: column;

  .loading {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 8px;
    background: #0F2027;
    font-size: 1.3rem;
    text-align: center;
  }
}
