form {
  display: flex;
  border-radius: 8px;
  padding: 1rem 1rem 1.2rem;
  background: $bg-color;

  @media (max-width: $breakpoint) {
    flex-direction: column;
    padding-bottom: 1.5rem;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    flex: 1;

    &.search {
      flex: 3;
    }

    &:not(:first-child) {
      padding-left: 1rem;

      @media (max-width: $breakpoint) {
        padding-left: 0;
        margin-top: 1rem;
      }
    }

    label {
      margin-bottom: .8rem;

      &[disabled] {
        color: transparentize($color, .7);
      }
    }

    input, select {
      flex: 1;
      border-radius: 4px;
      border: solid 1px transparentize($color, .2);
      background-color: transparent;
      font-size: 1rem;
      font-weight: 200;
      padding: .5rem;
      color: $color;
      font-family: 'Roboto', sans-serif;

      &:disabled {
        color: transparentize($color, .7);
        border-color: transparentize($color, .7);
      }

      &::-webkit-input-placeholder {
        color: transparentize($color, .2);
      }

      &:focus {
        outline: none;
      }

      option {
        padding: .5rem;
        background: $bg-color;
        color: $color;
      }
    }
  }
}