.list {
  background-color: #0F2027;
  margin-top: 2rem;
  border-radius: 8px;

  .item {
    display: flex;
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: solid 1px white;
    }

    .image {
      max-width: 60px;
      margin-right: 1rem;

      img {
        width: 100%;
      }
    }

    .details {
      flex: 1;

      .title {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        text-decoration: none;
      }
    }
  }
}
